.beers .title{
    margin-top: 30px
}

.beers .title span{
    font-size: 11px;
    color: #da7a04;
    font-style: italic;
    display: block;
    margin-left: 2px;
}

.list-beers .beer{
    background: #fff;
    box-shadow: 1px 7px 19px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    min-height: 135px;

    text-align: center;

    transition-duration: 0.3s;
}
.list-beers .beer:hover{
box-shadow: 1px 7px 19px rgba(0, 0, 0, 0.07);;
}

.beer .name{
    font-size: 30px;
    line-height: 0;
    padding-top: 35px;
}

.beer .tagline{
    display: block;
    color: #999;
    word-break: normal;
    margin: 15px;
}

.beer .first_brewed{
    font-size: 15px;
    font-weight: 600;
}
